.passengers-dropdown {
    width: 100%;
    height: 64px;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 0px 8px 8px 0px;
}

.passengers-dropdown__content {
    background: rgb(255, 255, 255);
    height: 100%;
    padding: 10px 16px;
    box-shadow: rgb(208, 209, 215) 0px 0px 0px 1px inset;
    width: 100%;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    color: rgb(160, 162, 171);
    outline: none;
    border-radius: 8px;

    &:hover,
    &.focused {
        box-shadow: inset 0 0 0 2px #32a95e;
    }
}

.passengers-dropdown__label {
    flex: 1 0 auto;
    overflow: hidden;
    > div {
        white-space: nowrap;
        color: rgb(121, 124, 154);
        font-size: 14px;
        line-height: 18px;
        margin: 0px;
    }
    > span {
        white-space: nowrap;
        color: rgb(44, 57, 89);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: none;
        text-decoration-skip-ink: none;
        margin: 0px;
    }
}

.passengers-dropdown__icon {
    display: inline-flex;
    > svg {
        margin-left: 5px;
        height: 16px;
        width: 16px;
        fill: rgb(44, 57, 89);
        opacity: 1;
        transition: fill 0.15s ease-out 0s, all;

        &.focused {
            transform: rotate(180deg);
            transition: fill 0.15s ease-out 0s, all;
        }
    }
}

.passengers-dropdown__container {
    position: absolute;
    min-width: 400px;
    top: 100%;
    right: 0%;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 8px 40px rgba(33, 33, 38, 0.1);
    z-index: 4;
}

.passengers-dropdown__form {
    padding: 24px;

    h1 {
        display: block;
        margin: 0 0 15px 0;
        color: #9da0ae;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        text-decoration-skip-ink: none;
    }
}

.passengers-dropdown__form-line {
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 216px;
    margin-bottom: 15px;
    touch-action: manipulation;
}

.passengers-dropdown__form-label {
    > div:first-child {
        color: rgb(44, 57, 89);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        text-decoration-skip-ink: none;
        margin: 0px;
    }
    > div:last-child {
        color: #62657f;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        text-decoration-skip-ink: none;
        margin: 0;
    }
}

.passengers-dropdown__form-divider {
    height: 1px;
    background-color: #e8e9ed;
}
